<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
	   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>鑫广飞无人机课堂应用平台-用户登陆-修改密码</title>
		<link rel="stylesheet" href="/resources/static/css/css.css" th:href="@{/css/css.css}"/>
		<script type="text/javascript" src="/resources/static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
        <script type="text/javascript" src="/resources/static/js/main.js" th:src="@{/js/main.js}"></script>
	</head>
	<body class="login-body">
		<div class="login-container">
			<div class="login">
				<h1 class="login-top">修改密码</h1>
				    <form class="cd-login">
						<p class="cd-register-p"><input class="login-input login-password has-border left" type="password" id="passWord" placeholder="输入旧密码" /></p>
						<p class="cd-register-p"><input class="login-input login-password has-border left" type="password" id="inputPassWord" placeholder="输入新密码" /></p>
						<p class="cd-register-p"><input class="login-input login-password has-border left" type="password" id="rePassWord" placeholder="新密码再输入一次" /></p>
						<input type="hidden" th:value="${userName}" id="userName"/>
						<p><button class="login-btn cd-login-p blue" type="button" onclick="javascript:userResetPassWord()" name="完成">完成</button></p>
					</form>
			</div>
		</div>
	</body>
<script th:inline="javascript">

 function userResetPassWord(){
        
	 var userName=$("#userName").val();
	 var passWord=$("#passWord").val();
	 var inputPassWord=$("#inputPassWord").val();
     var rePassWord=$("#rePassWord").val();   
     if(inputPassWord!=rePassWord){
  	   alert("密码与确认密码不一致");
  	   return;
      }else{
  	$.ajax({
  		  type:"POST",
  		  url:"/userui/userResetPassWord",
  		  data:JSON.stringify({"userName":userName,"passWord":passWord,"inputPassWord":inputPassWord}),
  		  contentType:"application/json",
  	     dataType:'json', 
  		  async: false,
  		  success:function(data){
  			  if(data.result=="success"){
  				  alert("修改成功");
  				window.location.href = "/";
  			}
  		   },
  	       error:function(data){
					alert("修改失败");
				}
  		   
  	      });
           } 
 }
</script>
</html>