<div class="card min-hg">
				<p class="p-3">
				<span>
					<i class="fa fa-square text_success"></i>
					<label>已通过</label>
				</span>
				<span>
					<i class="fa fa-square text_denger"></i>
					<label>未通过</label>
				</span>
				<span>
					<i class="fa fa-square text_secondary"></i>
					<label>未练习</label>
				</span>
				</p>
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <div class="up_downs">
                <div class="left_up_downs pull-left">
                    <p>100%</p>
                    <p>80%</p>
                    <p>60%</p>
                    <p>40%</p>
                    <p>20%</p>
                    <p>0%</p>　
                </div>
                <div class="right_up_downs pull-left">
                    <div class="right_up_downs_top">
                        <!--背景线-->
                        <ul class="list-unstyled right_top_ul">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!--柱形-->
                        <div class="right_pillar">
                            <ul class="list-unstyled right_pillar_ul">
                                <li>
                                    <div class="right_pillar_for">
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="auto"
                                             title="已做100%">
                                            <div class="bg_success" style="height: 100%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="做错0题">
                                            <div class="bg_denger" style="height: 0.3%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="未做0题">
                                            <div class="bg_secondary" style="height: 0.3%"></div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="right_pillar_for">
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="auto"
                                             title="已做90%">
                                            <div class="bg_success" style="height: 90%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="做错2题">
                                            <div class="bg_denger" style="height: 5%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="未做2题">
                                            <div class="bg_secondary" style="height: 5%"></div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="right_pillar_for">
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="auto"
                                             title="已做80%">
                                            <div class="bg_success" style="height: 80%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="做错0题">
                                            <div class="bg_denger" style="height: 15%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="未做0题">
                                            <div class="bg_secondary" style="height: 5%"></div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="right_pillar_for">
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="auto"
                                             title="已做70%">
                                            <div class="bg_success" style="height: 70%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="做错0题">
                                            <div class="bg_denger" style="height: 10%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="未做0题">
                                            <div class="bg_secondary" style="height: 20%"></div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="right_pillar_for">
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="auto"
                                             title="已做60%">
                                            <div class="bg_success" style="height: 60%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="做错0题">
                                            <div class="bg_denger" style="height: 10%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="未做0题">
                                            <div class="bg_secondary" style="height: 30%"></div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="right_pillar_for">
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="auto"
                                             title="已做50%">
                                            <div class="bg_success" style="height: 50%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="做错0题">
                                            <div class="bg_denger" style="height: 30%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="未做0题">
                                            <div class="bg_secondary" style="height: 20%"></div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="right_pillar_for">
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="auto"
                                             title="已做40%">
                                            <div class="bg_success" style="height: 40%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="做错0题">
                                            <div class="bg_denger" style="height: 10%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="未做0题">
                                            <div class="bg_secondary" style="height: 50%"></div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="right_pillar_for">
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="auto"
                                             title="已做30%">
                                            <div class="bg_success" style="height: 30%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="做错0题">
                                            <div class="bg_denger" style="height: 0.3%"></div>
                                        </div>
                                        <div class="right_pillar_fill" 
                                             data-toggle="tooltip" 
                                             data-placement="bottom"
                                             title="未做0题">
                                            <div class="bg_secondary" style="height: 70%"></div>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="right_up_downs_bottom clearfix">
                        <div class="pull-left text-center">多旋翼</div>
                        <div class="pull-left text-center">飞行手册</div>
                        <div class="pull-left text-center">飞行原理与性能</div>
                        <div class="pull-left text-center">概述</div>
                        <div class="pull-left text-center">教学法</div>
                        <div class="pull-left text-center">空域，法规</div>
                        <div class="pull-left text-center">起降操纵</div>
                        <div class="pull-left text-center">气象</div>
                        <div class="pull-left text-center">任务规划</div>
                        <div class="pull-left text-center">系统组成及介绍</div>
                        <div class="pull-left text-center">直升机</div>
                        <div class="pull-left text-center">综合</div>
                        <div class="pull-left text-center">综合问答</div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
        <div class="row p-3">
        	<div class="col-3">
        		<div class="alert alert-info ov-height" role="alert">
        			<span>预测分：60分</span>
                </div>
        	</div>
        	<div class="col-3">
        		<div class="alert alert-info" role="alert">
                    <span>答题时间：1小时30分20秒</span>
                </div>
        	</div>
        	<div class="col-3">
        		<div class="alert alert-info" role="alert">
                <span class="pr-3">总答题数：320题</span>
                </div>
        	</div>
        	<div class="col-3">
        		<div class="alert alert-info" role="alert">
                <span>目前已掌握0 个，共计有13个知识点</span>
                </div>
        	</div>
        </div>
    </div>