 <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                	<i class="fa fa-exclamation-triangle text-warning pr-2"></i>系统提示
                </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <form th:method="post" th:action="@{/clazz/deleteClazz}" th:object="${idsBean}" class="form-horizontal" role="form" id="myDeleteForm" onsubmit="return ">
          
            <div class="modal-body">
                                          确认要删除班级<b class="text-danger" th:text="${clazzName}">“艺术设计”</b>吗？
            </div>                                   
            <input type="hidden" th:field="*{ids[0]}"  value="" />
           
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-sm btn-info">确定</button>
            </div>
            </form>