	<div class="row">
		<div class="col-4">
			<div class="card">
			    <div class="card-header">资料更新</div>
			        <div class="card-body">
			        	<ul class="nr-news">
				        	<li>时间:2015-07-23 版本:1.0</li>
				        	<li>时间:2015-07-23 版本:1.0</li>
				        	<li>时间:2015-07-23 版本:1.0</li>
				        	<li>时间:2015-07-23 版本:1.0</li>
				        </ul>
			        </div>
		    </div>
		</div>
		
		<div class="col-4">
			<div class="card">
			    <div class="card-header">行业新闻-政策</div>
			        <div class="card-body">
				        <ul class="nr-news">
				        	<li>时间:2015-07-23 版本:1.0</li>
				        	<li>时间:2015-07-23 版本:1.0</li>
				        	<li>时间:2015-07-23 版本:1.0</li>
				        	<li>时间:2015-07-23 版本:1.0</li>
				        </ul>
			        </div>
		    </div>
		</div>
		
		<div class="col-4">
			<div class="card">
			    <div class="card-header">系统版本更新日志</div>
			        <div class="card-body">
				        <div class="alert alert-success alert-dismissible fade show" role="alert">
			        		<p class="pt-2">
			        			<b>V.1.0.1</b>
			        			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                </button>
			        		</p>
				        		<hr></hr>
				        		<ol class="journal ml-3">
				        			<li>更新日期：2017-11-24;</li>
				        			<li>修复了注册提示bug；</li>
				        			<li>修复了注册提示bug；</li>
				        		</ol>
				        	
			        	</div>
			        	
			        	
			        	<div class="alert alert-warning alert-dismissible fade show" role="alert">
			        		<p class="pt-2">
			        			<b>V.1.0.0</b>
			        			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                </button>
			        		</p>
				        		<hr></hr>
				        		<ol class="journal ml-3">
				        			<li>更新日期：2017-11-24;</li>
				        			<li>修复了注册提示bug；</li>
				        			<li>修复了注册提示bug；</li>
				        		</ol>
			        	</div>
			        </div>
		    </div>
		</div>
	
	</div> 