
	
		<div class="main-all pl-3 pr-3">
			<div class="test_title" >
				<font>
						<input type="button" 
							name="test_jiaojuan" 
							data-toggle="modal" 
							data-target="#jjuan" 
							value="交卷"/>
				</font>
           </div>
           
			<div class="test-left">
				<div class="test">
					<form action="" method="post">
						<div class="test_content">
								<div class="test_content_title">
									<b class="ml-3">单选题</b>
									<span class="title-test">共60题，合计60分</span>
								</div>
						</div>
							<div class="test_content_nr">
								<ul>
									
										<li id="qu_0_0">
											<div class="test_content_nr_tts">
												<span class="circle">1</span>
												<font class="pl-4">
													<span class="text-warning">(1分)</span>
													无人机的英文缩写是（  ）
												</font>
												<span class="float-right">
													<a class="fa fa-heart-o fa-02x text-warning"></a>
													<!--<a class="fa fa-heart fa-02x text-warning"></a>收藏后的样式-->
													<font class="pr-3">收藏</font>
													<button type="button" 
														data-toggle="modal" 
														data-target=".bd-example-modal-lg"
														class="jcuo">
														<a class="fa fa-pencil-square-o fa-02x text-danger"></a>
														<font>纠错</font>
													</button>
                                                </span>
											</div>

											<div class="test_content_nr_main">
												<ul>
													<li class="option">
														<input type="radio" class="radioOrCheck" name="answer1"
															id="0_answer_1_option_1"
														/>
															<label for="0_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">UVS</p>
															</label>
													</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_2"
																/>
															
															
															<label for="0_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">UA.S</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_3"
																/>
															
															
															<label for="0_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">UA.V</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_1">
											<div class="test_content_nr_tts">
												<span class="circle">2</span>
												<font class="pl-4">
													<span class="text-warning">(1分)</span>
													轻型无人机，是指空机质量（）
												</font>
												<span class="float-right">
													<a class="fa fa-heart-o fa-02x text-warning"></a>
													<!--<a class="fa fa-heart fa-02x text-warning"></a>收藏后的样式-->
													<font>收藏</font>
												</span>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															<input type="radio" class="radioOrCheck" name="answer2" id="0_answer_2_option_1"/>
															<label for="0_answer_2_option_1">A.
																<p class="ue" style="display: inline;">小于7kg</p>
															</label>
														</li>
													
														<li class="option">
															<input type="radio" class="radioOrCheck" name="answer2" id="0_answer_2_option_2"/>
															<label for="0_answer_2_option_2">B.
																<p class="ue" style="display: inline;">大于7kg，小于116kg</p>
															</label>
														</li>
													
														<li class="option">
															<input type="radio" class="radioOrCheck" name="answer2" id="0_answer_2_option_3"/>
															<label for="0_answer_2_option_3">C.
																<p class="ue" style="display: inline;">大于116kg，小于5700kg</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_2">
											
											<div class="test_content_nr_tts">
												<span class="circle">3</span>
												<font class="pl-4">
													<span class="text-warning">(1分)</span>
													近程无人机活动半径在（）
												</font>
												<span class="float-right">
													<a class="fa fa-heart-o fa-02x text-warning"></a>
													<!--<a class="fa fa-heart fa-02x text-warning"></a>收藏后的样式-->
													<font>收藏</font>
												</span>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_1"
																/>
															
															
															<label for="0_answer_3_option_1">
																A.
																<p class="ue" style="display: inline;">小于15km</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_2"
																/>
															
															
															<label for="0_answer_3_option_2">
																B.
																<p class="ue" style="display: inline;">15~50km</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_3"
																/>
															
															
															<label for="0_answer_3_option_3">
																C.
																<p class="ue" style="display: inline;">200~800km</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_3">
											
											<div class="test_content_nr_tts">
												<span class="circle">4</span>
												<font class="pl-4">
													<span class="text-warning">(1分)</span>
													任务高度一般在0~100m之间的无人机为（）
												</font>
												<span class="float-right">
													<a class="fa fa-heart-o fa-02x text-warning"></a>
													<!--<a class="fa fa-heart fa-02x text-warning"></a>收藏后的样式-->
													<font>收藏</font>
												</span>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_1"
																/>
															
															
															<label for="0_answer_4_option_1">
																A.
																<p class="ue" style="display: inline;">超低空无人机</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_2"
																/>
															
															
															<label for="0_answer_4_option_2">
																B.
																<p class="ue" style="display: inline;">低空无人机</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_3"
																/>
															
															
															<label for="0_answer_4_option_3">
																C.
																<p class="ue" style="display: inline;">中空无人机</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_4">
											
											<div class="test_content_nr_tts">
												<span class="circle">5</span>
												<font class="pl-4">
													<span class="text-warning">(1分)</span>
													不属于无人机机型的是（  ）
												</font>
												<span class="float-right">
													<a class="fa fa-heart-o fa-02x text-warning"></a>
													<!--<a class="fa fa-heart fa-02x text-warning"></a>收藏后的样式-->
													<font>收藏</font>
												</span>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_1"
																/>
															
															
															<label for="0_answer_5_option_1">
																A.
																<p class="ue" style="display: inline;">塞纳斯</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_2"
																/>
															
															
															<label for="0_answer_5_option_2">
																B.
																<p class="ue" style="display: inline;">侦察兵</p>
															</label>
														</li>
														
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_2"
																/>
															
															
															<label for="0_answer_5_option_2">
																C.
																<p class="ue" style="display: inline;">捕食者</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
								</ul>
							</div>
						
							<!--<div class="test_content">
								<div class="test_content_title">
									<b class="ml-3">多选题</b>
									<span class="title-test">共30题，合计60分</span>
								</div>
							</div>
							<div class="test_content_nr">
								
							</div>-->
						
					</form>
				</div>

			</div>
			
			    
			
			<div class="test-right rt_nr1 pr-3">
				
					<div class="card">
						<div class="card_header">
							<span class="float-left test-dtk">答题卡</span>
						</div>
						
							<div class="card-body">
								<div class="rt_content_tt pb-2">
									<b>单选题</b>
									<span>（共60题）</span>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>
										<li><a href="#qu_0_0">1</a></li>
										<li><a href="#qu_0_1">2</a></li>
										<li><a href="#qu_0_2">3</a></li>
										<li><a href="#qu_0_3">4</a></li>
										<li><a href="#qu_0_4">5</a></li>
										<li><a href="#qu_0_5">6</a></li>
										<li><a href="#qu_0_6">7</a></li>
										<li><a href="#qu_0_7">8</a></li>
										<li><a href="#qu_0_8">9</a></li>
										<li><a href="#qu_0_9">10</a></li>
									</ul>
								</div>
							</div>
						
							<!--<div class="card-body">
								<div class="rt_content_tt pb-2">
									<b>多选题</b>
									<span>（共60题）</span>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>
										
											<li><a href="#qu_1_0">1</a></li>
										
											<li><a href="#qu_1_1">2</a></li>
										
									</ul>
								</div>
							</div>-->
							
							<div class="card-body">
								<i class="fa fa-square text-info"></i>
								<label>正确</label>
								<i class="fa fa-square text-danger"></i>
								<label>错误</label>
								<i class="fa fa-square text-secondary"></i>
								<label>未做</label>
							</div>
							
							<div class="test-footer">
								<span class="test_time">
								    <i class="fa fa-clock-o"></i>
								    <span class="ml-1">计时器</span>
								    <b class="alt-1 text-danger" id="ec">00:01</b>
							    </span>
							</div>
							
					</div>

			</div>
		</div>
		<!--nr end-->



	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/jquery-slim.min.js" ></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="js/popper.min.js" ></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="js/sidebar.js"></script>
	<script src="js/test/jquery-1.11.3.min.js"></script>
	<script src="js/test/jquery.easy-pie-chart.js"></script>
	<!--时间js-->
	<script src="js/time/jquery.countdown.js"></script>
	
	<script>
		window.jQuery(function($) {
			"use strict";
			
			$('time').countDown({
				with_separators : false
			});
			$('.alt-1').countDown({
				css_class : 'countdown-alt-1'
			})
			
			$('.alt-2').countDown({
				css_class : 'countdown-alt-2'
			});

		  var x=document.getElementById("ec")
		  alert(x.innerHTML)
			
		});
		
		
		$(function() {
			$('li.option label').click(function() {
			    debugger;
				var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
				var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
				// 设置已答题
				if(!cardLi.hasClass('hasBeenAnswer')){
					cardLi.addClass('hasBeenAnswer');
				}
				
			});
		});
	</script>

<!--纠错弹出-->
<div class="modal fade bd-example-modal-lg" 
	tabindex="-1" role="dialog" 
	aria-labelledby="jcuo" 
	aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jcuo">试题纠错反馈</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
                                    一直在完善，从未停歇过，但有些题目可能仍然存在瑕疵，对您造成的不便我们深表歉意！
        </div>
        <div class="text-info">
        	为方便我们排查错误，请您详细描述本题错误，例如：
        </div>
<div class="form-check form-check-inline">
  
  <label class="custom-control custom-radio">
  <input id="radio1" name="radio" type="radio" class="custom-control-input"/>
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">含有错别字</span>
</label>
</div>
<div class="form-check form-check-inline">
  
  <label class="custom-control custom-radio">
  <input id="radio1" name="radio" type="radio" class="custom-control-input"/>
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">答案不正确</span>
</label>
</div>
<div class="form-check form-check-inline disabled">
  
  <label class="custom-control custom-radio">
  <input id="radio1" name="radio" type="radio" class="custom-control-input"/>
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">题目不完整</span>
</label>
</div>
<div class="form-check form-check-inline disabled">
  
  <label class="custom-control custom-radio">
  <input id="radio1" name="radio" type="radio" class="custom-control-input"/>
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">图片不存在</span>
</label>
</div>
<div class="form-check form-check-inline disabled">
  <label class="custom-control custom-radio">
  <input id="radio1" name="radio" type="radio" class="custom-control-input"/>
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">解析不正确</span>
</label>
</div>
<div class="form-check form-check-inline disabled">
  <label class="custom-control custom-radio">
  <input id="radio1" name="radio" type="radio" class="custom-control-input"/>
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">题目带答案</span>
</label>
</div>
<div class="form-check form-check-inline disabled">
  <label class="custom-control custom-radio">
  <input id="radio1" name="radio" type="radio" class="custom-control-input"/>
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">其他错误</span>
</label>
</div>

<div class="form-group">
    <label for="exampleFormControlTextarea1" class="text-info">错题描述:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-info">发送</button>
      </div>
    </div>
 </div>
  
</div>

<!-- Modal交卷提示 -->
<div class="modal fade" id="jjuan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">提交试卷</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<i class="fa fa-info-circle fa-02x text-warning"></i>
        全部做完，是否确定交卷？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">关闭</button>
        <!--<button type="button" class="btn btn-info">提交</button>-->
        <a class="btn btn-sm btn-info" href="order-ok.html" role="button">提交</a>
      </div>
    </div>
  </div>
</div>

