
		<div class="card">
				<div class="card-body">
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th scope="col">知识点</th>
								<th scope="col">收藏量</th>
								<th scope="col">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td scope="row">飞行手册</td>
								<td>1道</td>
								<td>
									<button class="btn btn-info btn-sm" >开始做题</button>
									<!--点击开始做题，直接跳转-->
								</td>
							</tr>
							<tr>
								<td scope="row">飞行原理与性能</td>
								<td>4道</td>
								<td>
									<button class="btn btn-info btn-sm">开始做题</button>
								</td>
							</tr>
							<tr>
								<td scope="row">概述</td>
								<td>5道</td>
								<td>
									<button class="btn btn-info btn-sm">开始做题</button>
								</td>
							</tr>
							<tr>
								<td scope="row">空域,法规</td>
								<td>8</td>
								<td>
									<button class="btn btn-info btn-sm">开始做题</button>
								</td>
							</tr>
							<tr>
								<td scope="row">口试题</td>
								<td>0道</td>
								<td>
									<button class="btn btn-info btn-sm">开始做题</button>
								</td>
							</tr>
							<tr>
								<td scope="row">起降操纵</td>
								<td>2道</td>
								<td>
									<button class="btn btn-info btn-sm">开始做题</button>
								</td>
							</tr>
							<tr>
								<td scope="row">气象</td>
								<td>2道</td>
								<td>
									<button class="btn btn-info btn-sm">开始做题</button>
								</td>
							</tr>
							<tr>
								<td scope="row">任务规划</td>
								<td>3道</td>
								<td>
									<button class="btn btn-info btn-sm">开始做题</button>
								</td>
							</tr>
							<tr>
								<td scope="row">系统组成及介绍</td>
								<td>2道</td>
								<td>
									<button class="btn btn-info btn-sm">开始做题</button>
								</td>
							</tr>
							<tr>
								<td scope="row">综合</td>
								<td>0道</td>
								<td>
									<button class="btn btn-info btn-sm">开始做题</button>
								</td>
							</tr>
							<tr>
								<td scope="row">多旋翼</td>
								<td>1道</td>
								<td>
									<button class="btn btn-info btn-sm">开始做题</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
