<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">
<head>
	<meta charset="UTF-8">

	<!--强制国产浏览器使用现代内核--><!--360浏览器-->
	<meta name="renderer" content="webkit">
	<!--其它双核浏览器-->
	<meta name="force-rendering" content="webkit">
	<!--如果安装了GCF，则使用GCF来渲染页面，如果没有安装GCF，则使用最高版本的IE内核进行渲染。-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<title>鑫广飞无人机课堂应用平台-管理员后台-电子书</title>
		<link rel="stylesheet" href="../css/admin.css" />
	</head>
	<body>
		<!--header-->
		<header class="aheader">
			<div class="avatar left"></div>
			<div class="logo left"></div>
		</header>
		<div class="container">
		<!--menu-->
		<div class="menu left">
			<ul>
				<li class="adm-yh"><a href="users.html">用户管理</a></li>
				<li class="adm-js"><a href="role.html">角色管理</a></li>
				<li class="adm-sp"><a href="#">课程管理</a>
					<!--<ul>
						<li><a href="videos.html">视频管理</a></li>
						<li><a href="document.html">文档管理</a></li>
						<li><a href="ebooke.html">电子书</a></li>
					</ul>-->
				</li>
				<li class="adm-wd"><a href="chapter.html">章节管理</a></li>
				<li class="adm-qx"><a href="permissions.html">权限管理</a></li>
				<li class="adm-zl"><a href="information.html">个人资料</a></li>
			</ul>
		</div>
		<!--内容区域-->
		    <div class="panel">
			    <div class="title">
			    	<span class="dot left"></span>
			    	<b class="title-name left">电子书</b>
			    </div>
			    <div class="in-user">
                              电子书内容,邱工自配插件
                </div>		    
		    </div>
		</div>
	</body>
</html>
