<!--翻页器模板    ly-pagination 将不会显示-->
<template class="ly-pagination-template">
    <div>
        <template class="ly-pagination-template-container">
            <div class="page ly-pagination-root">
                <ul class="pagination-digg ly-pagination-template-insert-point">
                </ul>
            </div>
        </template>
        <template class="ly-pagination-template-things-first-active">
            <li class=""><a>首页</a></li>
        </template>
        <template class="ly-pagination-template-things-first-inactive">
            <li class="active">首页</li>
        </template>
        <template class="ly-pagination-template-things-last-active">
            <li class=""><a>尾页</a></li>
        </template>
        <template class="ly-pagination-template-things-last-inactive">
            <li class="active">尾页</li>
        </template>

        <template class="ly-pagination-template-things-page-prev-disabled">
            <li class="previous-off">&laquo;上一页</li>
        </template>
        <template class="ly-pagination-template-things-page-prev-enabled">
            <li class="previous"><a>&laquo;上一页</a></li>
        </template>
        <template class="ly-pagination-template-things-page-next-disabled">
            <li class="next-off">下一页 &raquo;</li>
        </template>
        <template class="ly-pagination-template-things-page-next-enabled">
            <li class="next"><a>下一页 &raquo;</a></li>
        </template>

        <template class="ly-pagination-template-things-page-number-active">
            <li class="active">1</li>
        </template>
        <template class="ly-pagination-template-things-page-number-enabled">
            <li><a>2</a></li>
        </template>
    </div>
</template>
