<!--menu-->
<div class="menu left ly-left-menu-root">
    <ul>
        <!--<li><i class="fa fa-user-o mar20"></i><a href="users.html">用户管理</a></li>-->
        <!--<li><i class="fa fa-user-o mar20"></i><a href="role.html">角色管理</a></li>-->
        <!--<li><i class="fa fa-book mar20"></i>课程管理<i class="fa fa-sort-desc fa-2xs mar80"></i>-->
        <!--<ul>-->
        <!--<li><i class="fa fa-file-video-o mar20"></i><a href="videos.html">视频管理</a></li>-->
        <!--<li><i class="fa fa-file-text-o mar20"></i><a href="document.html">文档管理</a></li>-->
        <!--<li><i class="fa fa-book mar20"></i><a href="ebook.html">电子书</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li><i class="fa fa-bars mar20"></i><a href="chapter.html">章节管理</a></li>-->
        <!--<li><i class="fa fa-wrench mar20"></i><a href="permissions.html">权限管理</a></li>-->
        <li>
            <a class="cursor-pointer ly-left-menu-href-videos">
                <i class="fa fa-book mar20"></i>
                课程管理
            </a>
        </li>
        <li>
            <a class="cursor-pointer ly-left-menu-href-users">
                <i class="fa fa-user-o mar20"></i>
                用户管理
            </a>
        </li>
        <li>
            <a class="cursor-pointer ly-left-menu-href-role">
                <i class="fa fa-user-o mar20"></i>
                角色管理
            </a>
        </li>
        <!--<li>-->
        <!--<a class="cursor-pointer ly-left-menu-href-chapter">-->
        <!--<i class="fa fa-bars mar20"></i>-->
        <!--章节管理-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="cursor-pointer ly-left-menu-href-permissions">-->
        <!--<i class="fa fa-wrench mar20"></i>-->
        <!--权限管理-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="cursor-pointer ly-left-menu-href-information">-->
        <!--个人资料-->
        <!--</a>-->
        <!--</li>-->
    </ul>
</div>